h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
ul,
li,
a,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: roboto, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
  color: #fff; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.nav__input, .nav__label {
  display: none;
  font-size: 18px; }

@media screen and (max-width: 750px) {
  .nav__label {
    display: inline-block;
    position: absolute;
    top: 48px;
    right: 30px;
    z-index: 3; } }

@media screen and (max-width: 450px) {
  .nav__label {
    top: 40px;
    right: 20px;
    z-index: 3; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__item-active {
  padding: 8px 24px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff; }

.nav__link {
  padding: 8px 3px;
  border-radius: 8px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .nav__link:hover {
    color: #9fadc2; }
  .nav__link:focus {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    color: #9fadc2; }

@media screen and (max-width: 750px) {
  .nav__icon-times.fas {
    display: none; }
  .nav__list {
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    left: 0;
    top: -30px;
    padding-top: 165px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: blue;
    width: 100vw;
    height: 100vh;
    font-size: 22px; }
  .nav__item {
    font-size: 22px; }
    .nav__item-active {
      padding: 8px 3px;
      border-radius: 8px;
      background-color: transparent;
      color: #fff; }
  .nav__link {
    padding: 16px 3px;
    display: block;
    font-size: 22px; }
  #checkbox-menu:checked + label .fas.fa-bars {
    display: none; }
  #checkbox-menu:checked + label .fas.fa-times {
    display: block; }
  #checkbox-menu:checked ~ .nav__list {
    display: block; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.header {
  height: 700px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media screen and (max-width: 750px) {
    .header {
      height: 564px; } }
  .header__container {
    padding-top: 30px;
    max-width: 1020px;
    margin: 0 auto;
    height: 100%;
    position: relative; }
    @media screen and (max-width: 1100px) {
      .header__container {
        padding: 30px 30px 0; } }
    @media screen and (max-width: 450px) {
      .header__container {
        padding: 20px 20px 0; } }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: 51px; }
  .header__action {
    position: relative; }
    .header__action::after {
      content: " ";
      position: absolute;
      width: 96%;
      height: 2px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: solid #fff 1px;
      border-radius: 1px;
      bottom: -12px;
      left: 2px; }
      @media screen and (max-width: 750px) {
        .header__action::after {
          display: none; } }
    @media screen and (max-width: 750px) {
      .header__action {
        width: 18px; }
      .header__action .header__link {
        display: none; } }
  .header__link {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    padding: 10px 0; }
    .header__link:hover {
      color: #9fadc2; }
    .header__link-light:hover {
      color: #d3d9e2; }
  .header__phone .fas.fa-phone {
    display: none; }
    @media screen and (max-width: 750px) {
      .header__phone .fas.fa-phone {
        display: block;
        font-size: 18px; } }
  @media screen and (max-width: 750px) {
    .header__phone span {
      display: none; } }
  .header__logo {
    position: absolute;
    top: -44px;
    left: calc(50% - 57.5px);
    z-index: 3; }
  .header__title {
    position: absolute;
    bottom: 181px; }
    @media screen and (max-width: 750px) {
      .header__title {
        bottom: 93px; } }
    .header__title::before {
      content: " ";
      display: inline-block;
      width: 12%;
      height: 2px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: solid #fff 1px;
      position: relative;
      border-radius: 1px;
      bottom: -23px; }
  .header__title-text {
    text-transform: initial;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px; }
    @media screen and (max-width: 750px) {
      .header__title-text {
        font-size: 46px;
        line-height: 40px; } }
  .header__nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 56px;
    left: 0; }
    @media screen and (max-width: 1100px) {
      .header__nav {
        padding: 0 30px; } }
    @media screen and (max-width: 750px) {
      .header__nav {
        top: 30px; } }

.fas:hover {
  color: #9fadc2; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.logo {
  background-image: url("../images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 115px;
  height: 76px; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.main {
  margin: 0 auto;
  padding-top: 90px;
  max-width: 1020px;
  color: black; }
  @media screen and (max-width: 1100px) {
    .main {
      padding: 0 30px; } }
  @media screen and (max-width: 450px) {
    .main {
      padding: 0 20px; } }
  .main__gallery, .main__consultation, .main__contactUs, .main__testimonials {
    margin-top: 50px; }
    @media screen and (max-width: 950px) {
      .main__gallery, .main__consultation, .main__contactUs, .main__testimonials {
        margin-top: 10px; } }

.blue__theme {
  color: #0075ff; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.article {
  text-align: left;
  font-size: 16px;
  line-height: 27px; }
  .article__link {
    color: black;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    font-size: inherit; }
    .article__link:hover {
      color: #9fadc2; }
  .article__center {
    text-align: center; }
  .article__image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s; }
    .article__image:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .article__heading {
    font-size: 24px;
    font-weight: bold;
    color: #0075ff;
    margin-bottom: 0; }
  .article__subheading {
    font-size: 14px;
    color: #9fadc2; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  @media screen and (max-width: 1100px) {
    .info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .info__heading {
    width: 472px;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold; }
    @media screen and (max-width: 550px) {
      .info__heading {
        width: 100%;
        font-size: 36px;
        line-height: 36px; } }
  .info__text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 16px;
    line-height: 27px; }
    .info__text-heading {
      font-size: 24px;
      font-weight: bold; }
  .info__article {
    width: 472px; }
    @media screen and (max-width: 550px) {
      .info__article {
        width: 100%; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.heading {
  display: inline-block;
  position: relative;
  text-transform: capitalize;
  font-size: 48px; }
  .heading::after {
    content: " ";
    position: absolute;
    left: calc(50% - 11.5px);
    bottom: -5px;
    width: 23px;
    height: 16px;
    background-image: url("../images/crown.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.gallery {
  text-align: center; }
  .gallery__heading {
    margin-bottom: 40px; }
  .gallery__btn {
    margin-top: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 188px;
    height: 56px;
    font-weight: bold;
    font-size: 16px;
    background-color: #fff;
    color: #0075ff;
    border: 2px solid #0075ff;
    border-radius: 8px;
    -webkit-transition: background-color 1s;
    transition: background-color 1s; }
    @media screen and (max-width: 550px) {
      .gallery__btn {
        width: 100%;
        margin-top: 0; } }
    .gallery__btn:hover {
      color: #fff;
      background-color: #0075ff; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.photos {
  display: grid;
  grid-template-rows: 256px 91px 256px 91px 256px 91px; }
  @media screen and (max-width: 900px) {
    .photos {
      grid-template-rows: 131px 91px 131px 91px 131px 91px; } }
  .photos__block {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr; }
    .photos__block-wide-left {
      grid-template-columns: 2fr 1fr; }
    .photos__block-wide-right {
      grid-template-columns: 1fr 2fr; }
    @media screen and (max-width: 900px) {
      .photos__block-wide-right, .photos__block-wide-left {
        grid-template-columns: 1fr 1fr; } }
  .photos__img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .photos__text {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .photos__link {
    font-size: 16px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .photos__link:hover {
      color: #9fadc2; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.consultation {
  text-align: center; }
  .consultation__heading {
    margin-bottom: 40px; }
  .consultation__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 950px) {
      .consultation__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .consultation__article {
    max-width: 412px; }
  .consultation__form {
    padding-top: 24px;
    width: 413px; }
    @media screen and (max-width: 550px) {
      .consultation__form {
        width: 100%; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__inpt {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 16px;
    padding: 17px 18px;
    width: 100%;
    background: #f7f8ff;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 14px;
    line-height: 14px;
    color: #b9c1ce;
    -webkit-transition: -webkit-box-shadow 0.5s;
    transition: -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s;
    transition: box-shadow 0.5s, -webkit-box-shadow 0.5s; }
    .form__inpt-textarea {
      padding-bottom: 120px; }
    .form__inpt:hover {
      -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
              box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }
    .form__inpt:focus {
      -webkit-box-shadow: 0 6px 23px #7c779a75;
              box-shadow: 0 6px 23px #7c779a75;
      outline: none; }
    .form__inpt::-webkit-input-placeholder {
      font-size: 14px;
      line-height: 14px;
      color: #b9c1ce; }
    .form__inpt::-moz-placeholder {
      font-size: 14px;
      line-height: 14px;
      color: #b9c1ce; }
    .form__inpt:-ms-input-placeholder {
      font-size: 14px;
      line-height: 14px;
      color: #b9c1ce; }
    .form__inpt::-ms-input-placeholder {
      font-size: 14px;
      line-height: 14px;
      color: #b9c1ce; }
    .form__inpt::placeholder {
      font-size: 14px;
      line-height: 14px;
      color: #b9c1ce; }
  .form .form__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    padding: 21px 0;
    margin-top: 32px;
    text-transform: capitalize;
    width: 100%;
    border: 1px solid #0075ff;
    -webkit-transition: background-color 1s;
    transition: background-color 1s; }
    .form .form__button:hover {
      color: #0075ff;
      background-color: #fff; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.contactUs {
  text-align: center; }
  .contactUs__heading {
    margin-bottom: 40px; }
  .contactUs__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 950px) {
      .contactUs__container {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (max-width: 350px) {
      .contactUs__container {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
  .contactUs__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 108px; }
    @media screen and (max-width: 450px) {
      .contactUs__contacts {
        grid-gap: 50px; } }
    @media screen and (max-width: 350px) {
      .contactUs__contacts {
        grid-template-columns: 1fr;
        grid-gap: 0; } }
  .contactUs__form {
    padding-top: 24px;
    width: 413px; }
    @media screen and (max-width: 550px) {
      .contactUs__form {
        width: 100%; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.testimonials {
  text-align: center; }
  .testimonials__heading {
    margin-bottom: 40px; }
  .testimonials__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 1050px) {
      .testimonials__container {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; } }
    @media screen and (max-width: 780px) {
      .testimonials__container {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  @media screen and (max-width: 780px) {
    .testimonials__article {
      margin: 10px 15px; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.footer {
  margin-top: 88px;
  height: 359px;
  position: -webkit-sticky;
  position: sticky;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 550px) {
    .footer {
      height: 206px; } }
  .footer__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 40px; }

body {
  background: #fff; }

/*# sourceMappingURL=main.css.map */
