h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
ul,
li,
a,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: roboto, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
  color: #fff; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__item-active {
  padding: 8px 24px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff; }

.nav__link {
  padding: 8px 3px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .nav__link:hover {
    color: #9fadc2; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.header {
  height: 700px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .header__container {
    padding-top: 30px;
    max-width: 1020px;
    margin: 0 auto;
    height: 100%;
    position: relative; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: 51px; }
  .header__link {
    position: relative;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    padding: 10px 0; }
    .header__link:hover {
      color: #9fadc2; }
    .header__link::after {
      content: " ";
      position: absolute;
      width: 96%;
      height: 2px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: solid #fff 1px;
      border-radius: 1px;
      bottom: 0;
      left: 2px; }
  .header__logo {
    position: relative;
    bottom: 41px;
    width: 115px;
    height: 76px; }
  .header__title {
    position: absolute;
    bottom: 181px; }
    .header__title::before {
      content: " ";
      display: inline-block;
      width: 12%;
      height: 2px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: solid #fff 1px;
      position: relative;
      border-radius: 1px;
      bottom: -23px; }
  .header__title-text {
    text-transform: initial;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px; }
  .header__nav {
    position: absolute;
    width: 100%;
    bottom: 56px; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.logo {
  background-image: url("../images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.main {
  margin: 0 auto;
  padding-top: 90px;
  max-width: 1020px;
  color: black; }

.blue__theme {
  color: #0075ff; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .info__heading {
    width: 50%;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold; }
  .info__text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 16px;
    line-height: 27px; }
    .info__text-heading {
      font-size: 24px;
      font-weight: bold; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.heading {
  display: inline-block;
  position: relative;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 48px; }
  .heading::after {
    content: " ";
    position: absolute;
    left: calc(50% - 11.5px);
    bottom: 0;
    width: 23px;
    height: 16px;
    background-image: url("../images/crown.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.gallery__heading {
  margin: 0 auto; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.photos {
  display: grid;
  grid-template-rows: 673px 91px 673px 91px 673px 91px; }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
